version: '3.8'
services:
  db:
    image: mariadb:$DB_MARIADB_VERSION
    container_name: $APP_NAME-db
    restart: always
    ports:
      - $DB_MARIADB_PORT:3306
    environment:
      - MYSQL_ROOT_PASSWORD=$DB_MARIADB_PASSWORD
      - MYSQL_LOG_CONSOLE=true
    volumes:
      - mysql_data:/var/lib/mysql

  memcached:
    image: memcached:db
    container_name: $APP_NAME-memcached
    restart: always
    entrypoint: memcached -m 256

  elasticsearch:
    image: seafileltd/elasticsearch-with-ik:$DB_ELASTICSEARCH_VERSION
    container_name: $APP_NAME-elasticsearch
    restart: always
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms1g -Xmx1g"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    deploy:
      resources:
        limits:
          memory: 2G
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data  # Requested, specifies the path to Elasticsearch data persistent store.
    profiles:
      - pro
      
  seafile:
    image: $APP_REPO:$APP_VERSION
    container_name: $APP_NAME
    restart: always
    ports:
      - "$APP_PORT:80"
#     - "443:443"  # If https is enabled, cancel the comment.
    volumes:
      - seafile_data:/shared   # Requested, specifies the path to Seafile data persistent store.
    environment:
      - DB_HOST=$DB_MARIADB_HOST
      - DB_ROOT_PASSWD=$DB_MARIADB_PASSWORD
      - TIME_ZONE=$APP_TIME_ZONE # Optional, default is UTC. Should be uncomment and set to your local time zone.
      - SEAFILE_ADMIN_EMAIL=$APP_USER # Specifies Seafile admin user, default is 'me@example.com'
      - SEAFILE_ADMIN_PASSWORD=$APP_PASSWORD    
      - SEAFILE_SERVER_LETSENCRYPT=false   # Whether to use https or not
      - SEAFILE_SERVER_HOSTNAME=$DOMAIN # Specifies your host name if https is enabled
    depends_on:
      - db
      - memcached
      - elasticsearch

networks:
  default:
      name: "$APP_NAME"

volumes:
  seafile_data:
  elasticsearch_data:
  mysql_data:
